.filter-button {
    height: 42px;
    width: 145px;
    padding: 0px 22px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #232321;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: .2s;
    flex-shrink: 0;
}

.filter-button:hover {
    background: #343430;
    padding-right: 15px;
}


.filters-badge{
    margin-left:8px;
    min-width:22px;
    height:22px;
    border-radius:50%;
    background:#2D6CDF;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
    font-weight:600;
}