.header {
    display: flex;
    align-items: stretch;
    gap: 0;
    padding: 0;
}

.header-logo {
    width: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232321;
}

.logo {
    width: 190px;
    height: auto;
    object-fit: contain;
}

.header-actions {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 12px;
}