.items-table {

    --table-columns:
    55px
    minmax(340px, 5fr)
    95px
    90px
    minmax(120px, 1fr)
    minmax(120px, 1fr)
    95px;

    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;

}

.items-header{
    width:100%;
    display:grid;
    grid-template-columns: var(--table-columns);
    background:#232321;
    color:white;
    border-radius:5px 5px 0 0;
    padding:12px 0;
    font-size:14px;
    font-weight:600;
    align-items:center;

}

.items-header div{
    display:flex;
    justify-content:center;
    align-items:center;
}

.items-header div:nth-child(2){
    justify-content:flex-start;
    padding-left:12px;
}

.items-body{
    width:100%;
    display:flex;
    flex-direction:column;
}

.no-items-message {
    padding: 20px;
    text-align: center;
}