.item-row{

    display:grid;

    grid-template-columns:
        70px
        2fr
        170px
        140px
        190px
        190px
        130px;

    align-items:center;

    min-height:64px;

    border-bottom:1px solid #E5E5E5;

    transition:.2s;

}

.item-row:hover{

    background:#F8F8F8;

    cursor:pointer;

}

.item-row > div{

    padding:0 14px;

}

.column-number{

    text-align:center;

    color:#666;

}

.column-product{

    font-weight:500;

    color:#232321;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}

.column-status{

    display:flex;

    justify-content:center;

}

.column-priority{

    text-align:center;

    color:#5F5F5F;

}

.column-supplier,
.column-requester{

    text-align:center;

    color:#5F5F5F;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}

.column-actions{

    display:flex;

    justify-content:center;

    gap:8px;

}

.status-badge{

    display:flex;

    align-items:center;

    justify-content:center;

    width:120px;

    height:28px;

    border-radius:18px;

    font-size:12px;

    font-weight:500;

}

.status-badge.pendente{

    background:#F2F2F2;

    color:#5B5B5B;

}

.status-badge.pedido-realizado{

    background:#E8F5E9;

    color:#2E7D32;

}