.items-table {

    --table-columns:
    55px
    minmax(340px, 5fr)
    95px
    90px
    minmax(120px, 1fr)
    minmax(120px, 1fr)
    95px;

    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow:hidden;

}

.items-header{
    width:100%;
    display:grid;
    grid-template-columns: var(--table-columns);
    background:#232321;
    color:white;
    border-radius:5px;
    padding:12px 0;
    font-size:14px;
    font-weight:600;
    align-items:center;

}

.items-header div{

    text-align:center;

}

.items-header div:nth-child(2){

    text-align:left;

}

.items-body{
    flex:1;
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: stretch;
    overflow-y:auto;
    overflow-x:hidden;
    min-height:0;
}