.pagination{
    width:100%;
    height:48px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:22px;
    border-top:1px solid #E5E5E5;
    background:#FFF;
}

.pagination-button{
    display:flex;
    align-items:center;
    gap:6px;
    border:none;
    background:none;
    color:#232321;
    font-size:14px;
    font-weight:500;
    cursor:pointer;
    transition:.2s;
}

.pagination-button:hover:not(:disabled){
    color:#000;
}

.pagination-button:disabled{
    opacity:.35;
    cursor:default;
    pointer-events: none;
}

.pagination-info{
    font-size:14px;
    font-weight:600;
    color:#555;
    min-width:120px;
    text-align:center;

}