.pending-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}
.content-area {
    display: flex;
    align-items: stretch;
    flex: 1;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1px 18px 5px 8px;
}

.pending-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.pending-left {
    display: flex;
    flex-direction: column;
}

.pending-title {
    margin: 0;
    font-size: 34px;
    color: #232321;
    line-height: 1;
    text-align: left;
}

.pending-actions {
    display: flex;
    align-items: center;
}

.add-button {
    width: 170px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background: #232321;
    color: white;
    cursor: pointer;
    transition: .2s;
    font-size:15px;
    display:inline-flex;
    gap:5px;
    align-items:center;
    justify-content:center;
}

.add-button:hover {
    background: #343430;
    padding-left: 15px;
}

.sort-row {
    margin-top: 20px;
}


.sort-select {
    height: 36px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #323232;
    background: #202020;
    color: white;
    padding: 0 10px;
}

.sort-select:hover{
    cursor: pointer;
    background: #343430;
}

.items-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-top{
    display:flex;
    flex-direction:column;
    flex:1;
}

.item-details{
    min-height:220px;
    margin-top:20px;
}