.search-container {
    flex: 1;
    max-width: 1050px;
    position: relative;
}

.search-input {
    width: 98%;
    height: 42px;
    padding: 0 18px 0 48px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: .2s;
    background: white;
    color: #232321;
}


.search-input:focus {
    border-color: #232321;
}

.search-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 15px;
}