.sidebar {
    width: 220px;
    background: #232321;
    border-radius: 0 5px 5px 0px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar button {
    height: 48px;
    color: white;
    background: transparent;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px;
    cursor: pointer;
    transition: .2s;
    font-size: 15px;
}

.sidebar button:hover {
    background: #343430;
    padding-left: 22px;
}


.sidebar button svg {
    color: #FFFFFF;
    font-size: 18px;
    min-width: 20px;
}